<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=title%></h1>
    <%if(who){%>
    <p>你好～<%=who%></p>
    <a href="/articles">發表文章<a>
    <% } else {%>
    <form method="post" action="/home">
      <p>
        名稱：<input type="text" name="username"/>
        <input type="submit" value="登入"/>
      </p>
    </form>
    <% } %>
  </body>
</html>
